body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-upload, .chart-options {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 5px;
}

select {
    padding: 5px;
    font-size: 16px;
}

canvas {
    max-width: 100%;
    height: 400px;
}
.chart-options,
.chart-columns {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input[type="text"], input[type="color"], select {
    padding: 5px;
    font-size: 16px;
}
.export-options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#reportOutput {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#reportOutput h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    margin-bottom: 10px;
}

#reportOutput p {
    margin: 10px 0;
}

#reportOutput ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
}

#reportOutput strong {
    color: #007bff;
    font-weight: bold;
}

#reportOutput em {
    color: #555;
    font-style: italic;
}
