<h1>Activez votre compte</h1>
<p>Bonjour {{user.pseudo}},</p>
<p>Votre inscription sur le site est à valider en cliquant sur le lien ci-dessous :</p>
<a href="{{ absolute_url(path('verification_user', {token: token})) }}">Cliquez ici</a></p>
<p>Ce lien expirera dans 3 heures</p>