        <!-- Section start -->
        <div class="section panel overflow-hidden">
            <div class="section-outer panel py-6 lg:py-9">
                <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block"
                    data-anime="targets: &gt;*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 100});">
                    <div class="position-absolute top-0 start-0 rotate-45"
                        style="top: 16% !important; left: 18% !important">
                        <img alt="star-1" class="w-32px text-gray-900 dark:text-white" data-uc-svg=""
                            src="images\star-1.svg" />
                    </div>
                    <div class="position-absolute top-0 end-0 rotate-45"
                        style="top: 5% !important; right: 18% !important">
                        <img alt="star-2" class="w-24px text-gray-900 dark:text-white" data-uc-svg=""
                            src="images\star-2.svg" />
                    </div>
                </div>
                <div class="container max-w-xl">
                    <div class="section-inner panel vstack gap-3 sm:gap-6 lg:gap-9"
                        data-anime="targets: &gt;*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100);">
                        <header
                            class="page-header vstack justify-center items-center gap-2 md:gap-4 text-center max-w-650px mx-auto">
                            <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Insights</h1>
                        </header>
                        <div class="row child-cols-12 sm:child-cols-4 col-match gy-4 sm:gy-6 xl:gy-8 gx-2 xl:gx-4">
                            <div class="col-12">
                                <article class="post type-post panel rounded-3 p-3 bg-secondary dark:bg-gray-800">
                                    <div class="panel row child-cols-12 md:child-cols-6 items-center g-3">
                                        <div>
                                            <figure
                                                class="featured-image m-0 rounded ratio ratio-4x3 rounded lg:rounded-2 uc-transition-toggle overflow-hidden">
                                                <img alt="Maximizing your reach with marketing strategies"
                                                    class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                                    src="images\img-05.jpg" />
                                                <a class="position-cover"
                                                    data-caption="Maximizing your reach with marketing strategies"
                                                    href="blog-details.php"></a>
                                            </figure>
                                        </div>
                                        <div>
                                            <div class="vstack items-center gap-2 lg:gap-3">
                                                <a class="post-category text-primary fw-normal text-none fw-bold fs-7 bg-primary text-white py-narrow px-1 rounded"
                                                    href="blog-category.php">Strategy</a>
                                                <h3 class="h4 xl:h2 m-0 text-center m-0 lg:w-500px lg:m-auto">
                                                    <a class="text-none" href="blog-details.php">Maximizing your reach
                                                        with marketing strategies</a>
                                                </h3>
                                                <ul class="post-meta nav-x ft-tertiary justify-center fs-7 gap-1">
                                                    <li>
                                                        <div class="hstack gap-narrow ft-tertiary">
                                                            <img alt="David"
                                                                class="w-24px h-24px rounded-circle me-narrow"
                                                                src="images\02.png" />
                                                            <a class="text-none fw-bold text-dark dark:text-white"
                                                                href="page-author.php">David</a>
                                                        </div>
                                                    </li>
                                                    <li class="opacity-50">•</li>
                                                    <li>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>Apr 15, 2024</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p
                                                    class="fs-6 lg:fs-5 lg:w-500px lg:mx-auto text-center md:d-none lg:d-block">
                                                    Nisi dignissim tortor sed quam sed ipsum ut. Dolor sit amet,
                                                    consectetur adipiscing elit..</p>
                                                <a class="btn btn-text text-primary border-bottom d-inline-flex fs-7 lg:fs-6 sm:mt-2"
                                                    href="blog-details.php">Continue reading</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Marketing</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="Top 5 reasons to invest in marketing"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-06.jpg" />
                                        <a class="position-cover" data-caption="Top 5 reasons to invest in marketing"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">Top 5 reasons to invest in
                                                marketing</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="Sarah" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\04.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">Sarah</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 12, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Boost</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="How can marketing help your business?"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-07.jpg" />
                                        <a class="position-cover" data-caption="How can marketing help your business?"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">How can marketing help your
                                                business?</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="Kevin" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\01.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">Kevin</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 12, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Advertising</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="The ultimate guide to marketing success"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-08.jpg" />
                                        <a class="position-cover" data-caption="The ultimate guide to marketing success"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">The ultimate guide to marketing
                                                success</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="Amir" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\07.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">Amir</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 10, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Strategy</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="A comprehensive guide to marketing"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-09.jpg" />
                                        <a class="position-cover" data-caption="A comprehensive guide to marketing"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">A comprehensive guide to
                                                marketing</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="Amir" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\07.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">Amir</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 8, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Advertising</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="Maximizing your reach with marketing strategies"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-10.jpg" />
                                        <a class="position-cover"
                                            data-caption="Maximizing your reach with marketing strategies"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">Maximizing your reach with
                                                marketing strategies</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="Allen" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\06.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">Allen</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 4, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                            <div>
                                <article
                                    class="post type-post panel vstack gap-3 rounded-3 p-2 pb-3 bg-secondary dark:bg-gray-800">
                                    <a class="position-absolute top-0 ltr:start-0 rtl:end-0 m-3 fs-7 fw-bold text-none z-1 bg-primary text-white py-narrow px-1"
                                        href="blog.php" style="border-radius: 8px">Strategy</a>
                                    <figure
                                        class="featured-image m-0 rounded ratio ratio-3x2 rounded-2 uc-transition-toggle overflow-hidden">
                                        <img alt="Top 5 reasons to invest in marketing"
                                            class="media-cover image uc-transition-scale-up uc-transition-opaque"
                                            src="images\img-11.jpg" />
                                        <a class="position-cover" data-caption="Top 5 reasons to invest in marketing"
                                            href="blog-details.php"></a>
                                    </figure>
                                    <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                        <h3 class="h5 xl:h4 m-0 text-center m-0">
                                            <a class="text-none" href="blog-details.php">Top 5 reasons to invest in
                                                marketing</a>
                                        </h3>
                                        <ul
                                            class="post-meta nav-x ft-tertiary justify-center gap-1 fs-7 text-gray-400 dark:text-gray-300 d-none lg:d-flex">
                                            <li>
                                                <div class="hstack gap-narrow ft-tertiary">
                                                    <img alt="David" class="w-24px h-24px rounded-circle me-narrow"
                                                        src="images\02.png" />
                                                    <a class="text-none fw-bold text-dark dark:text-white"
                                                        href="page-author.php">David</a>
                                                </div>
                                            </li>
                                            <li class="opacity-50">•</li>
                                            <li>
                                                <div class="post-date hstack gap-narrow">
                                                    <span>Apr 3, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </header>
                                </article>
                            </div>
                        </div>
                        <div class="nav-pagination fw-medium">
                            <ul class="nav-x uc-pagination hstack gap-1 justify-center ft-secondary" data-uc-margin="">
                                <li>
                                    <a href="#"><span class="icon icon-1 unicon-chevron-left rtl:rotate-180"></span></a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a class="uc-active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="uc-disabled"><span>…</span></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li>
                                    <a href="#"><span
                                            class="icon icon-1 unicon-chevron-right rtl:rotate-180"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section end -->
		        <!-- Newsletter -->
        <div id="blog_newsletter" class="blog-newsletter section panel overflow-hidden">
            <div class="section-outer panel pb-4 lg:pb-6 xl:pb-9">
                <div class="container max-w-xl">
                    <div
                        class="section-inner panel p-3 py-6 lg:p-6 xl:p-8 rounded-2 bg-secondary dark:bg-gray-800 overflow-hidden">
                        <div class="row child-cols-12 md:child-cols g-6 justify-between items-center uc-grid"
                            data-uc-grid="">
                            <div class="uc-first-column">
                                <div class="vstack gap-2 max-w-500px xl:max-w-600px">
                                    <h2 class="h4 md:h3 lg:h2 m-0">Soyez au courant des dernières nouvelles</h2>
                                    <p class="fs-6 lg:fs-5">Souscrivez à la newsletter pour être tenu au courant des
                                        dernières mises à jour.</p>
                                    <form class="row child-cols g-1 mt-1 xl:mt-2">
                                        <div>
                                            <input
                                                class="form-control h-48px xl:h-56px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white"
                                                type="text" placeholder="Votre adresse mail" required="">
                                        </div>
                                        <div class="col-12 sm:col-auto">
                                            <button
                                                class="btn btn-md h-48px xl:h-56px w-100 lg:min-w-150px xl:min-w-200px btn-primary text-white">Souscrire</button>
                                        </div>
                                    </form>
                                    <p class="fs-7 text-dark dark:text-white text-opacity-70">Pas de panique, aucun
                                        spam.</p>
                                </div>
                            </div>
                            <div class="md:col-auto d-none md:d-block">
                                <img class="w-250px lg:w-300px xl:w-400px d-block dark:d-none"
                                    src="./public/assets/images/template/newsletter-2.svg" alt="newsletter">
                                <img class="w-250px lg:w-300px xl:w-400px d-none dark:d-block"
                                    src="./public/assets/images/template/newsletter-dark-2.svg" alt="newsletter-dark">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>