        <div class="section bg-white dark:bg-gray-900 text-dark dark:text-white">
            <div class="container max-w-xl">
                <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center h-screen">
                    <h2 class="h3 sm:h1">Bientôt disponible!</h2>
                    <div class="row child-cols-3 items-center justify-center g-1 sm:g-2"
                        data-uc-countdown="date: 2024-04-07T16:09:10+00:00">
                        <div>
                            <div>
                                <div
                                    class="cstack h4 sm:h2 w-64px h-64px sm:min-w-100px sm:min-h-100px py-2 border rounded uc-countdown-days">
                                </div>
                                <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Jours</div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="cstack h4 sm:h2 w-64px h-64px sm:min-w-100px sm:min-h-100px py-2 border rounded uc-countdown-hours">
                                </div>
                                <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Heures
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="cstack h4 sm:h2 w-64px h-64px sm:min-w-100px sm:min-h-100px py-2 border rounded uc-countdown-minutes">
                                </div>
                                <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Minutes
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="cstack h4 sm:h2 w-64px h-64px sm:min-w-100px sm:min-h-100px py-2 border rounded uc-countdown-seconds">
                                </div>
                                <div class="uc-countdown-label mt-1 text-center d-none sm:d-block opacity-60">Secondes
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="fs-6 xl:fs-5 mt-8">

                        Revenez quand nous serons en ligne ! <br />

                        Merci de votre compréhension et de votre patience ! On a hâte de vous voir. 😊

                    </p>
                </div>
            </div>
        </div>