        <div class="section py-6 sm:py-9">
            <div class="container max-w-xl">
                <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                    <h2 class="display-5 sm:display-2 fw-normal text-gray-200">404</h2>
                    <h1 class="h3 sm:h1 m-0">Pas non trouvé</h1>
                    <p class="fs-6">
						Désolé, la page que vous semblez chercher,<br />
						a été déplacée, redirigée ou a été supprimée de façon permanente.
                    </p>
                    <a class="btn btn-sm sm:btn-md btn-primary text-white my-2 sm:my-0" href="index.php">Retourner à l'accueil</a>
                    <p>Pourquoi pas chercher à nouveau ? <a class="uc-link" data-uc-toggle="" href="#uc-search-modal">Rchercher encore</a></p>
                </div>
            </div>
        </div>