    <!--  Demo modal -->
    <div data-uc-modal="overlay: true" id="uc-contact-modal">
        <div class="uc-modal-dialog lg:max-w-650px bg-secondary text-dark dark:bg-gray-800 dark:text-white rounded-1-5">
            <button
                class="uc-modal-close-default top-0 ltr:end-0 rtl:start-0 rtl:end-auto m-2 p-0 border-0 icon-2 lg:icon-3 btn btn-md dark:text-white transition-transform duration-150 hover:rotate-90"
                type="button">
                {# <i class="unicon-close"></i> #}
                <i class="fa fa-close" id="close-modal"></i>
            </button>
            <div class="panel vstack gap-2 md:gap-4 text-center">
                <div class="panel cstack px-3 md:px-4 py-4 md:py-8 m-0 lg:mx-auto">
                    <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                        <h4 class="h5 lg:h4 m-0">Démonstration vidéo</h4>
                        <div class="panel w-100 sm:w-350px md:w-500px mx-auto">
                        <div class="containerDemo">
                            <video controls controlsList="nodownload" id="demo-video">
                                <source src="{{ asset('assets/videos/datagraph-demo.mp4')}}" type="video/mp4">
                            </video>
                        </div>
                            {# <form class="vstack gap-2">
                                <div class="vstack lg:hstack gap-2">
                                    <input
                                        class="form-control h-48px w-100 md:w-1/2 bg-white dark:border-white dark:text-dark"
                                        placeholder="Full name*" required="" type="text" />
                                    <input
                                        class="form-control h-48px w-100 md:w-1/2 bg-white dark:border-white dark:text-dark"
                                        placeholder="Last name*" required="" type="text" />
                                </div>
                                <div class="vstack lg:hstack gap-2">
                                    <input
                                        class="form-control h-48px w-100 md:w-1/2 bg-white dark:border-white dark:text-dark"
                                        placeholder="Your email*" required="" type="email" />
                                    <input
                                        class="form-control h-48px w-100 md:w-1/2 rtl:text-end bg-white dark:border-white dark:text-dark"
                                        placeholder="Phone number*" required="" type="tel" />
                                </div>
                                <input class="form-control h-48px w-full bg-white dark:border-white dark:text-dark"
                                    placeholder="Company name*" required="" type="text" />
                                <textarea
                                    class="form-control min-h-150px w-full bg-white dark:border-white dark:text-dark"
                                    placeholder="Your message.."></textarea>
                                <button class="btn btn-primary btn-md text-white mt-2" type="submit">Planifier ma démonstration</button>
                                <p class="fs-7 opacity-70 mt-2 text-center">Nous adapterons votre démonstration à vos besoins immédiats
                                    besoins immédiats et répondrons à toutes vos questions. Préparez-vous à voir comment ça marche !</p>
                            </form> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>