    <!--  GDPR modal -->
    <div class="uc-gdpr-notification uc-notification min-w-1/2 uc-notification-bottom-left lg:m-2"
        id="uc-gdpr-notification">
        <div
            class="uc-notification-message vstack lg:hstack items-end gap-2 lg:gap-4 lg:p-3 bg-white text-dark border rounded-1-5 min-w-1/2">
            <a class="uc-notification-close text-dark" data-uc-close="" id="uc-close-gdpr-notification"></a>
            <div class="vstack">
                <h2 class="h5 ft-primary fw-bold -ls-1 m-0 text-dark">Conformité à la Loi RGPD</h2>
                <p class="fs-6 mt-1">Nous utilisons des cookies pour vous garantir une expérience optimale sur notre site web. En continuant
                    d'utiliser notre site, vous acceptez notre utilisation des cookies, <a class="uc-link text-underline"
                        href="{{ path('app_terms')}}">politique de Confidentialité</a> et <a class="uc-link text-underline"
                        href="{{ path('app_privacy_page')}}">conditions d'utilisation</a>.</p>
            </div>
            <button class="btn btn-sm btn-primary px-2" id="uc-accept-gdpr">Accepter</button>
        </div>
    </div>