    <!--  Search modal -->
    <div class="uc-modal-full uc-modal" data-uc-modal="overlay: true" id="uc-search-modal">
        <div class="uc-modal-dialog d-flex justify-center bg-white text-dark dark:bg-gray-900 dark:text-white"
            data-uc-height-viewport="">
            <div class="uc-modal-close-full m-1 p-0 vstack gap-narrow text-center">
                <button
                    class="icon-3 btn btn-md btn-dark dark:bg-white dark:text-dark w-24px sm:w-32px h-24px sm:h-32px rounded-circle flex-1"
                    type="button">
                    <i class="unicon-close"></i>
                </button>
                <span class="ft-tertiary fs-7">ESC</span>
            </div>
        </div>
    </div>